<% 
    function getListItems(players){
        return players.map( p => {
            return `<li>${p.position} - ${p.name} - ${p.color} - </li> `
        }).join("")
    }

    function getTableRows(players){
        return players.map( p => {
            let batchReady = p.isReady ?   'YES': 'NO'
            let classBgColor = p.isReady ?   'bg-green-500': ' bg-red-200'

            return `
                <tr class="border">
                    <td>${p.position}</td>
                    <td>${p.name}</td>
                    <td>xxx..${p.id.slice(p.id.length - 6)}</td>
                    <td>...${p.socket.id.slice(p.socket.id.length -10)}</td>
                    <td>${p.color}</td>
                    <td><p class="${classBgColor} rounded-md p-1 m-1">${batchReady}</p></td>
                    <td>${p.cards.map(card => card.value).join("-")}</td>
                </tr> `
        }).join("")
        }
%> 

<% /* %>
-- <ul>  <%- listItemsPlayer %>  </ul> --%>
<% */ %>

<table class="border border-collapse ">
    <tr class="border">
        <th>Position</th>
        <th>Name</th>
        <th>ID</th>
        <th>socket.id</th>
        <th>Color</th>
        <th>ready?</th>
        <th>Cards</th>
    </tr>
    <%- getTableRows(players) %>
</table>