
.debug{
  background-color: orange;
  margin:3px;
  padding:15px;
}

nav{
  position:fixed;
  text-align: right;
  top:0;
  height:5vh;
  width:100%;
  background-color: #03400f;
  border-bottom: 2px solid white;
}

a{
  color:white;
  font-weight: 900;
  padding:10px;
  text-decoration: none;
  height:100%;
}

h1,h2{
  text-align: center;
  margin: 0 0 5px 0;
}

.container{
  display: flex;
  justify-content: center;  
  /* padding-top:2rem; */
  
}



#loginForm{
  background-color:#fffd;
  border-radius: 25px;
  border: 1px solid black;
  width: fit-content;
  padding: 25px;
  margin: 200px auto 200px auto;
}

#table{
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-wrap: wrap;
  height:85vh; 
  aspect-ratio: 1/1;
  background-image: url(./pics/table.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  border:1px solid black;
  border-radius: 1rem;
  box-shadow: 8px 8px 2px #222222b9;
}

#boardWrapper{
  padding-top:13%;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}

#board{
  position: relative;
  width: 70%;
  height: 100%;
  /* background-image: './pics/TACboard.jpg'; */
  background-image: url(./pics/TACboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  border:1px solid black;
  box-shadow: 5px 10px 25px rgb(37, 18, 1);
}

.center{
  transform: translate(-50%,-50%);
}

#dealerButton{
  position: absolute;
  top: 115%;
  left: 108%;
  height:10%;
  aspect-ratio: 1/1;
  background-image: url(./pics/dealer.png);
  background-repeat: no-repeat;
  background-size: cover;
}


#innerCenter{
  border-radius: 50%;
  position: absolute;
  left:50%;
  top:50%;
  width:25%;
  aspect-ratio: 1/1;
  /* background-color: #fa0a; */
  transform: translate(-50%, -50%);
}

#innerCenter.highlight{
  border:5px solid red ;
  cursor: pointer;
}

.fieldOwnCards{
  position: absolute;
  transform: translateX(-50%);
  top:100%;
  left:50%;
  height: 25%;
  display: flex;
  justify-content: center;
}

.card{
  margin: 2px 0px;
  padding: 10px;
  transform: translate(-50%, -50%);
  /* height: 100%; */
  /* height: 20%; */
  position: absolute  ;
  /* top: 100%; */
  /* width : 90px; */
  aspect-ratio: 0.7;
  min-width: 1rem;
  min-height: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  box-sizing: border-box;
  /* outline: 1px solid white; */
}

.card img{
  border-radius: 8px;
  box-shadow: 2px 2px 2px #000;
}

.numberCardsOtherPlayer{
   position: absolute;
    color: white; 
    font-size: 2rem;
    top: 25%;
    left: 50%;
    text-align: center; 
}


.ball {
  position: absolute;
  aspect-ratio: 1/1;
  border-radius: 50%;
  width : 5%;
  background-color: #055;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.ball[data-color="red"]{
  background-image: url(./pics/Ballred.png);
}
.ball[data-color="blue"]{
  background-image: url(./pics/Ballblue.png);
}
.ball[data-color="green"]{
  background-image: url(./pics/Ballgreen.png);
}
.ball[data-color="yellow"]{
  background-image: url(./pics/Ballyellow.png);
}

.ball[data-id="0"]{
  top: 90%;
  left:90%;
}
.ball[data-id="1"]{
  top:90%;
  left:95%;
}
.ball[data-id="2"]{
  top:95%;
  left:90%;
}
.ball[data-id="3"]{
  top: 95%;
  left:95%;
}

.BG-white{
  background-color: white;
  width:fit-content
}
