body {
  margin: 0 0 0 0;
  background-color: #78c15e;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: unset;
}

nav {
  color: white;
  display: flex;
  z-index: 1;
  justify-content: right;
  width: 100%;
  background-color: #03400f;
  border-bottom: 2px solid white;
  resize: vertical;
  overflow: auto;
  min-height: 4rem;
}

nav a {
  color: white;
  font-weight: 900;
  padding: 0px;
  height: 100%;
  white-space: nowrap;
}

nav h1 {
  width: 100%;
  padding: 1.5rem 0;
}

#adminNav {
  margin: 1rem 2rem 0 0;
}

h1, h2, h3, h4 {
  text-align: center;
  margin: 0 0 5px 0;
}

.container {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

#table {
  margin-bottom: 2rem;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: right;
  flex-wrap: nowrap;
  height: 500px;
  aspect-ratio: 1.25/1;
  background-image: url(../../pics/table.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 8px 8px 2px #222222b9;
  /* Safari */
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}

#boardWrapper {
  padding-top: 10%;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}

.IconCopyPaste {
  cursor: pointer;
}

.footer {
  color: white;
  line-height: 2em;
  border-top: 2px solid white;
  background-color: #03400f;
  position: relative;
  padding-right: 5em;
  text-align: right;
}

#board {
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  border: 1px solid black;
  box-shadow: 5px 10px 25px #251201;
}

.rotate_board {
  transform: rotate(-90deg);
}

.center {
  transform: translate(-50%, -50%);
}

#fieldConfirmReady, #fieldDealCards {
  cursor: pointer;
  color: #005200;
  font-size: 2rem;
  font-weight: 700;
  padding: 1.25rem;
  position: absolute;
  border-radius: 10px;
  border: 2px solid #005200;
  background-color: #ddd;
  opacity: 0.8;
  min-width: 50px;
  min-height: 2rem;
  transform: translate(-50%, -50%);
  transition: transform linear 120ms;
  white-space: nowrap;
}

#fieldConfirmReady:focus, #fieldDealCards:focus, #fieldConfirmReady:hover, #fieldDealCards:hover {
  transform: translate(-50%, -50%) scale(1.2);
  border-width: 4px;
}

#fieldConfirmReady {
  top: 80%;
  left: 50%;
}

#fieldDealCards {
  top: 80%;
  left: 50%;
}

#dealerButton {
  position: absolute;
  top: 115%;
  left: 108%;
  height: 10%;
  aspect-ratio: 1/1;
  background-image: url(../../pics/dealer.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#innerCenter {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 49.75%;
  width: 27%;
  aspect-ratio: 1/1;
  /* background-color: #fa0a; */
  transform: translate(-50%, -50%);
}

#innerCenter.highlight {
  border: 2px solid #0eb574;
  cursor: pointer;
}

.fieldOwnCards {
  position: absolute;
  transform: translateX(-50%);
  top: 100%;
  left: 50%;
  height: 25%;
  display: flex;
  justify-content: center;
}

.card {
  margin: 0 0;
  transform: translate(-50%, -50%);
  position: absolute;
  box-shadow: 2px 2px 5px #111;
  aspect-ratio: 0.61;
  min-width: 1rem;
  min-height: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  box-sizing: border-box;
}

.cardStackOtherPlayer {
  left: 0%;
  top: 0%;
  cursor: unset;
  transform: translate(-50%, -50%) rotate(0deg);
}

.card img {
  border-radius: 8px;
  box-shadow: 2px 2px 2px #000;
}

.cardDeck {
  margin-top: 0.7rem;
}

.playerStatusOther {
  padding: 0.2rem;
  position: absolute;
  border-radius: 10px;
  border: 2px solid black;
  color: black;
  background-color: #ddd;
  opacity: 0.95;
  min-width: 50px;
  min-height: 2rem;
}

.numberCardsOtherPlayer {
  top: 0;
  right: 0;
  color: white;
  font-size: 1rem;
  position: absolute;
  height: 1.4rem;
  aspect-ratio: 1;
  text-align: center;
  border-radius: 50%;
  border: 1px solid white;
  background-color: #222;
}

.ball {
  position: absolute;
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: 5%;
  background-color: #055;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  transition-property: left, top;
  transition-timing-function: ease-out;
  transition-duration: 200ms;
}

.ball[data-color="red"] {
  background-image: url(../../pics/Ballred.png);
}

.ball[data-color="yellow"] {
  background-image: url(../../pics/Ballyellow.png);
}

.ball[data-color="black"] {
  background-image: url(../../pics/Ballblack.png);
}

.ball[data-color="blue"] {
  background-image: url(../../pics/Ballblue.png);
}

.ball[data-color="green"] {
  background-image: url(../../pics/Ballgreen.png);
}

.card[data-valCard="1"] {
  background-image: url("../../pics/1_small.png");
}

.card[data-valCard="2"] {
  background-image: url("../../pics/2_small.png");
}

.card[data-valCard="3"] {
  background-image: url("../../pics/3_small.png");
}

.card[data-valCard="4"] {
  background-image: url("../../pics/4_small.png");
}

.card[data-valCard="5"] {
  background-image: url("../../pics/5_small.png");
}

.card[data-valCard="6"] {
  background-image: url("../../pics/6_small.png");
}

.card[data-valCard="7"] {
  background-image: url("../../pics/7_small.png");
}

.card[data-valCard="8"] {
  background-image: url("../../pics/8_small.png");
}

.card[data-valCard="9"] {
  background-image: url("../../pics/9_small.png");
}

.card[data-valCard="10"] {
  background-image: url("../../pics/10_small.png");
}

.card[data-valCard="12"] {
  background-image: url("../../pics/12_small.png");
}

.card[data-valCard="13"] {
  background-image: url("../../pics/13_small.png");
}

.card[data-valCard="14"] {
  background-image: url("../../pics/Trickser_small.png");
}

.card[data-valCard="15"] {
  background-image: url("../../pics/TAC_small.png");
}

.BG-white {
  background-color: white;
  width: fit-content;
}

.ballSlot {
  box-sizing: border-box;
  margin: 0;
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid #0000;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: linear;
  font-size: 10px;
  text-align: center;
}

.highlightBallSlot {
  border-color: #333f;
  cursor: pointer;
}

.highlightBallSlotStart {
  border-color: black;
  background-color: #f9f913;
  cursor: pointer;
}

.wrapperBallSlot {
  position: absolute;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  width: 4.55%;
  height: 4.55%;
  border: 0px dashed black;
  padding: 0;
}

.zoneCardSwap {
  position: absolute;
  top: 72%;
  left: 69%;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  height: 23%;
  aspect-ratio: 0.7;
  border: 2px solid #055;
  background-color: #fff9;
  font-size: .78rem;
  text-align: center;
  display: flex;
  align-items: center;
  line-height: 1.25rem;
  overflow-wrap: anywhere;
  cursor: pointer;
}

.cardsPlayedHistory {
  width: fit-content;
  padding: .5rem;
  font-size: .8rem;
  position: absolute;
  top: 50%;
  left: 60%;
  z-index: 2;
  background-color: white;
  color: #111;
  border: 2px solid #111;
  border-radius: 20px;
}

.cardLastPlayed {
  padding: .5rem;
  font-size: .8rem;
  position: absolute;
  top: 55%;
  left: 50%;
  z-index: 2;
  background-color: white;
  color: #111;
  border: 2px solid #111;
  border-radius: 5px;
}

#loginForm {
  background-color: #fffd;
  border-radius: 25px;
  border: 1px solid black;
  width: fit-content;
  padding: 12px 25px;
  margin: 100px auto 200px auto;
}

#loginForm h3 {
  margin-left: -10px;
  margin-bottom: 10px;
  text-align: center;
}

#loginForm label {
  display: block;
}

#loginForm input {
  display: block;
  margin-bottom: 5px;
}

#loginForm select {
  margin-bottom: 10px;
}

#loginForm button {
  font-size: 0.9rem;
  display: block;
}

#loginForm .d-flex {
  display: flex;
  justify-content: space-between;
}

#loginForm .indent {
  padding-left: 10px;
}

#loginForm p {
  margin: 5px 0;
}

.errorList {
  position: absolute;
  width: 100%;
  text-align: center;
}

.error {
  margin: 10px auto;
  color: maroon;
  background-color: #ff8080;
  width: 50%;
  border-radius: 25px;
  border: 2px solid maroon;
}

option[value=blue] {
  background-color: blue;
  color: white;
}

option[value=yellow] {
  background-color: yellow;
  color: black;
}

option[value=red] {
  background-color: red;
  color: white;
}

option[value=black] {
  background-color: black;
  color: white;
}

option[value=green] {
  background-color: green;
  color: white;
}

.debug {
  background-color: orange;
  margin: 3px;
  padding: 15px;
  opacity: 0.7;
}

.greenLight {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: green;
  border-radius: 50%;
  border: 1px solid black;
}

.redLight {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: red;
  border-radius: 50%;
  border: 1px solid black;
}
