body {
  margin: 11vh 0 0 0;
  background-color: #78c15e;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  color: white;
  position: fixed;
  display: flex;
  top: 0;
  height: 10vh;
  width: 100%;
  background-color: #03400f;
  border-bottom: 2px solid white;
}

i {
  cursor: pointer;
}

a {
  color: white;
  font-weight: 900;
  padding: 0px;
  text-decoration: none;
  height: 100%;
  white-space: nowrap;
}

h1, h2, h3, h4 {
  text-align: center;
  margin: 0 0 5px 0;
}

.container {
  display: flex;
  padding-left: 210px;
  margin-right: 1rem;
  /* padding-top:2rem; */
}

#table {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: right;
  flex-wrap: nowrap;
  height: 500px;
  aspect-ratio: 1/1;
  background-image: url(../../pics/table.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 8px 8px 2px #222222b9;
}

#boardWrapper {
  padding-top: 13%;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
}

#board {
  position: relative;
  width: 70%;
  height: 100%;
  /* background-image: '../../pics/TACboard.jpg'; */
  background-image: url(../../pics/TACboard.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  border: 1px solid black;
  box-shadow: 5px 10px 25px #251201;
}

.center {
  transform: translate(-50%, -50%);
}

#fieldConfirmReady, #fieldDealCards {
  cursor: pointer;
  color: #005200;
  font-size: 2rem;
  font-weight: 700;
  padding: 1.25rem;
  position: absolute;
  border-radius: 10px;
  border: 2px solid #005200;
  background-color: #ddd;
  opacity: 0.8;
  min-width: 50px;
  min-height: 2rem;
  transform: translate(-50%, -50%);
  transition: transform linear 120ms;
  white-space: nowrap;
}

#fieldConfirmReady:focus, #fieldDealCards:focus, #fieldConfirmReady:hover, #fieldDealCards:hover {
  transform: translate(-50%, -50%) scale(1.2);
  border-width: 4px;
}

#fieldConfirmReady {
  top: 80%;
  left: 50%;
}

#fieldDealCards {
  top: 80%;
  left: 50%;
}

#dealerButton {
  position: absolute;
  top: 115%;
  left: 108%;
  height: 10%;
  aspect-ratio: 1/1;
  background-image: url(../../pics/dealer.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#innerCenter {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 25%;
  aspect-ratio: 1/1;
  /* background-color: #fa0a; */
  transform: translate(-50%, -50%);
}

#innerCenter.highlight {
  border: 5px solid red;
  cursor: pointer;
}

.fieldOwnCards {
  position: absolute;
  transform: translateX(-50%);
  top: 100%;
  left: 50%;
  height: 25%;
  display: flex;
  justify-content: center;
}

.card {
  margin: 2px 0px;
  padding: 10px;
  transform: translate(-50%, -50%);
  /* height: 100%; */
  /* height: 20%; */
  position: absolute;
  /* top: 100%; */
  /* width : 90px; */
  aspect-ratio: 0.7;
  min-width: 1rem;
  min-height: 2rem;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  box-sizing: border-box;
  /* outline: 1px solid white; */
}

.card img {
  border-radius: 8px;
  box-shadow: 2px 2px 2px #000;
}

.numberCardsOtherPlayer {
  position: absolute;
  color: white;
  font-size: 2rem;
  top: 25%;
  left: 50%;
  text-align: center;
}

.ball {
  position: absolute;
  aspect-ratio: 1/1;
  border-radius: 50%;
  width: 5%;
  background-color: #055;
  cursor: pointer;
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.ball[data-color="red"] {
  background-image: url(../../pics/Ballred.png);
}

.ball[data-color="blue"] {
  background-image: url(../../pics/Ballblue.png);
}

.ball[data-color="green"] {
  background-image: url(../../pics/Ballgreen.png);
}

.ball[data-color="yellow"] {
  background-image: url(../../pics/Ballyellow.png);
}

.ball[data-id="0"] {
  top: 90%;
  left: 90%;
}

.ball[data-id="1"] {
  top: 90%;
  left: 95%;
}

.ball[data-id="2"] {
  top: 95%;
  left: 90%;
}

.ball[data-id="3"] {
  top: 95%;
  left: 95%;
}

.BG-white {
  background-color: white;
  width: fit-content;
}

#loginForm {
  background-color: #fffd;
  border-radius: 25px;
  border: 1px solid black;
  width: fit-content;
  padding: 12px 25px;
  margin: 100px auto 200px auto;
}

#loginForm h3 {
  margin-left: -10px;
  margin-bottom: 10px;
  text-align: center;
}

#loginForm label {
  display: block;
}

#loginForm input {
  display: block;
  margin-bottom: 5px;
}

#loginForm select {
  margin-bottom: 10px;
}

#loginForm button {
  font-size: 0.9rem;
  display: block;
}

#loginForm .d-flex {
  display: flex;
  justify-content: space-between;
}

#loginForm .indent {
  padding-left: 10px;
}

#loginForm p {
  margin: 5px 0;
}

.errorList {
  position: absolute;
  width: 100%;
  text-align: center;
}

.error {
  margin: 10px auto;
  color: maroon;
  background-color: #ff8080;
  width: 50%;
  border-radius: 25px;
  border: 2px solid maroon;
}

option[value=blue] {
  background-color: blue;
  color: white;
}

option[value=yellow] {
  background-color: yellow;
  color: black;
}

option[value=red] {
  background-color: red;
  color: white;
}

option[value=black] {
  background-color: black;
  color: white;
}

option[value=green] {
  background-color: green;
  color: white;
}

.debug {
  background-color: orange;
  margin: 3px;
  padding: 15px;
  opacity: 0.7;
}
